<h1>Vagas Disponíveis</h1>

<% if notice.present? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<details class="menu-options">
  <summary>⋮</summary>
  <div class="menu-dropdown">
    <%= link_to "Aplicações", "jobs/current_user.id/job_applications" %>
    <%= link_to "Excluir",
        "#",
        data: {
          turbo_method: :delete,
          turbo_confirm: "Tem certeza?"
        } %>
  </div>
</details>

<% if @jobs.any? %>
  <div class="jobs-list">
    <% @jobs.each do |job| %>
      <div class="job-card">

        <h2><%= job.title %></h2>

        <p>
          <strong>Empresa:</strong>
          <%= job.company.name %>
        </p>

        <p>
          <strong>Local:</strong>
          <%= job.location %>
        </p>

        <p>
          <strong>Contrato:</strong>
          <%= job.contract_type %>
        </p>

        <p>
          <strong>Salário:</strong>
          <%= number_to_currency(job.salary, unit: "R$ ", separator: ",", delimiter: ".") %>
        </p>

        <p>
          <%= truncate(job.description, length: 180) %>
        </p>

        <div class="job-actions">
          <%= link_to "Ver detalhes", job_path(job), class: "btn btn-primary" %>
          


            <%= link_to "Excluir",
                job_path(job),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Tem certeza que deseja excluir esta vaga?"
                },
                class: "btn btn-danger" %>
        </div>

      </div>
    <% end %>
  </div>
<% else %>
  <p>Nenhuma vaga disponível no momento.</p>
<% end %>