<div class="job-application-container">

  </div>

  <div class="application-card">

    <%= render "form" %>

    <h1>Importar currículo</h1>

    <%= form_with model: [@job, @job_application] do |f| %>

      <h3>Currículo</h3>

      <div class="actions">
        <%= f.fields_for :resume do |resume| %>
          <%= resume.label :file %>
          <%= resume.file_field :file %>
        <% end %>

        <%= f.submit "Enviar candidatura", class: "btn btn-primary" %>
      
        <%= link_to "← Voltar para a vaga",
                    job_path(@job),
                    class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>

</div>