<h1><%= @resume.name %></h1>

<p>
<strong>Email:</strong>
<%= @resume.email %>
</p>

<p>
<strong>Telefone:</strong>
<%= @resume.phone %>
</p>

<p>
<strong>Resumo:</strong>
<%= @resume.summary %>
</p>

<%= link_to "Editar", edit_resume_path(@resume) %>